{% extends "base.html" %}

{% block container %}

  <main class="container mt-3">
    <div class="row mt-5">
      <div class="col-10 col-md-6 offset-1 offset-md-3 mb-3">
        <form action="/booking/{{teacher_id}}/{{day_origin}}/{{time_origin}}" class="card mb-3" method="POST">
          <div class="card-body text-center pt-5">
            <img src="{{teacher.picture}}" class="mb-3" width="95" alt="">
            <h2 class="h5 card-title mt-2 mb-2">{{teacher.name}}</h2>
            <p class="my-1">Запись на пробный урок</p>
            <p class="my-1">{{days.get(day)}}, {{time}}</p>
          </div>
          <hr />
          <div class="card-body mx-3">
              <div class="row">
                {{form.clientWeekday}}
                {{form.clientTime}}
                {{form.clientTeacher}}
              </div>
            {% for message in form.clientName.errors %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
            {% for message in form.clientPhone.errors %}
                  <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
            {{form.clientName.label(class="mb-1 mt-2")}}
            {{ form.clientName (class="form-control")}}

            {{form.clientPhone.label(class="mb-1 mt-2")}}
            {{ form.clientPhone (class="form-control")}}
            {{ form.csrf_token }}

            <input type="submit" class="btn btn-primary btn-block mt-4" value="Записаться на пробный урок">

          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
